@use '../base/variables' as *;
@use '../base/mixins' as *;
@use 'sass:color';

.boton-celeste{
    @include boton($color-acento);
}

.boton-azul{
    @include boton($primario);
}

.boton-blanco{
    @include boton($blanco,$negro,block);
}

.boton{
    border: none;
}