@use '../base/variables' as v;
@use '../base/mixins' as m;


.contenido-contacto{
    p{
        text-align: center;
        margin: 0;
        line-height: 1.5;
        color: grey;

        &:last-of-type{
            margin-bottom: 2rem;
        }
    }
}


.formulario{
    

    fieldset{
        border-radius: .5rem;
        margin-bottom: 2rem;

        .input{
            display: flex;
            flex-direction: column;
            margin: 1rem 0;

            label{
                width: 10rem;
            }

            input,textarea{
                border: 1px solid grey;
                border-radius: .3rem;
                padding: .5rem;
            }

            textarea{
                height: 15rem;
            }


        }
    }

}