@use '../base/variables' as *;
@use '../base/mixins' as *;

.webp .imagen-contacto{
    background-image: url(/build/img/oficinas.webp);
}

.no-webp .imagen-contacto{
    background-image: url(/build/img/oficinas.png);
}
.imagen-contacto{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    h2,p{
        color: $blanco;
        margin: 0;
        text-align: center;
        z-index: 10;
    }

    p{
        margin-bottom: 2rem;
    }

    .imagen-blur{
        background-color: rgba(5, 5, 5, 0.497);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}