@use '../base/variables' as *;
@use '../base/mixins' as *;

.webp .imagen-contacto{
    background-image: url(../img/oficinas.webp);
}

.no-webp .imagen-contacto{
    background-image: url(../img/oficinas.png);
}
.imagen-contacto{
    background-image: url(../img/oficinas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50rem;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;


    @include tablet{
        padding: 0 10rem;
    }

    @include desktop{
        padding: 0 20rem;
    }

    h2{
        font-size: 3rem;
        
        @include tablet{
            font-size: 5rem;
        }
    }


    h2,p{
        color: $blanco;
        margin: 0;
        text-align: center;
        z-index: 10;
    }

    p{
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: bold;

        @include tablet{
            font-size: 3rem;
        }
    }

    .imagen-blur{
        background-color: rgba(5, 5, 5, 0.497);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}