@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer{
    background-color: v.$blanco;
    padding: calc(v.$separacion / 2) 0;
    margin-bottom: 0;

    h3{
        margin: 0;
        font-size: 2rem;
        text-align: start;
        color: grey;
    }

    .contenido-footer{
        padding-top: calc(v.$separacion  / 2);
        display: flex;
        justify-content: space-between;

        .navegacion{
            visibility: visible;
            opacity: 1;
            width: 50rem;
            height: auto;
        }
    }

    .footer__parrafo{
        text-align: center;
        margin-bottom: 0;
        font-size: 1.5rem;
        color: grey;
    }
}