@use '../base/variables' as *;
@use '../base/mixins' as *;

.no-webp .banner-portada{
    background-image: url("../img/banner3.png");
}

.webp .banner-portada{
    background-image: url("../img/banner3.webp");
}

.header{
    position: relative;

    .banner-portada{
        /* background-image: url("../img/banner3.webp"); */
        height: 65rem;
        background-position: right right;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include tablet{
            background-position: center bottom;
        }

        .texto-banner{
            position: absolute;
            top: 20%;
            left: 50%;
            color: $blanco;
            z-index: 10;
            transform: translate(30%, -50%);
            opacity: 0;
            transition: transform 1.5s ease-in-out, opacity 1.5s ease-out;
            display: flex;
            flex-direction: column;
            align-items: end;

            @include tablet{
                top: 70%;
                left: 50%;
                transform: translate(30%, -50%);
                display: unset;
            }

        }

        .text-banner-visible{
            transform: translate(-50%, -50%);
            opacity: 1;
            
        }

        h2, p{
            margin: 0;
            color: $blanco;
            text-align: left;
            line-height: 5rem;
        }

        h2{
            font-size: 4rem;
            font-weight: $bold;
            
            @include tablet{
                font-size: 7rem;
            }
        }


        .banner-blur{
            background-color: rgba(5,5,5,0.3);
            position : absolute;
            top: 0;
            height: 65rem;
            width: 100%;
        }
    }

}

.contacto-fijo{
    background-color: rgb(234, 233, 233);
    position: fixed;
    left: 0;
    bottom: 2rem;
    z-index: 1;
    font-size: 3rem;
    padding: 0 2rem;
    border-radius: 0 3rem 3rem 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;

    @include desktop{
        bottom: 10rem;
        font-size: 4rem;
    }

}

.contacto-fijo-visible{
    transform: translateX(0%);
    opacity: 1;
}

#btnSubir {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none; /* Oculto por defecto */
  background-color: $primario;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#btnSubir:hover {
  background-color: $secundario;
}